<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>whatsdue</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body style="font-size: 18px;">
    {{> nav}}
    <script src="assets/js/script.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

<!--Page Body-->
<form action="studentadd" method="post">
    <div class="row justify-content-center" id="mainBody">
        <div class="col-8">
            <div id="student0">
                <div class="row">

                    <div class="col">
                        Student Information
                    <small><font color="red">{{error}}</font></small> <br>
                    <small><font color="green">{{message}}</font></small> <br>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <input type="text" name="first" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" name="last" class="form-control" placeholder="Last name">
                    </div>
                    <div class="col">
                        <input type="text" name="username" class="form-control" placeholder="Student username">
                    </div>
                </div>
                <hr>
            </div>


            <button id="submitStudent">Add Student</button>
        </div>
    </div>
</form>

    <div class="footer-basic">
<footer>
    <p class="copyright">WhatsDue © 2019<br>Edidiong Ekpo, Edwin Hernandez, Nicholas Kalar<br><br></p>
</footer>
</div>

<script src="assets/js/script.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>

</body>   
    </html>